body{
  font-family: "Tahoma" , "Open Sans" , sans-serif;
  background: white;
}

h1{ 

color: #ce76ca;
font-weight: bold;
font-size: 20px;
}

.menu {
  background-color: #80f4ff; 
  overflow: auto;
}

.menu ul {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}  

.menu li {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

menu li {
  display: inline-block;
  text-align: center;
}


.menu li a {
  display: inline-block;
  height: 20;
  width: 150px;
  color: #333333;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 4px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
}

.menu li a:hover {
  background-color: #d6d599;
}










.main {
  overflow: auto;
  text-align: center;
background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom:20px;

}


.main h2 {
  overflow: auto;
  margin-top: 40pk;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px;
  background-color: #80f4ff;
  color: #ce76ca;
  font-weight: bold;
  text-align: center;
  border-radius: 40px;
}
.photos {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  background-color:#FOEDE4;
}
.photos img {
  border-style: solid;
  border-width: 6px;
  border-color: #d6d599;
  border-radius: 6px;
  margin: 2px;
  object-fit: cover;
  object-position: top;

}
.photos h2 {
  color: #426035;
  font-size: 28px;

}

.footer {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #ce76ca;
}
.footer ul {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.footer li {
  display: inline-block;
  text-align: center;
}
.footer 11 a {
  display: inline-block;
  height: auto;
  width: auto;
  color: #d6d599;
  background-color: #f5f5f5;
  padding: 10px;
  margin: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}


.footer li a:hover {
  background-color #ce76ca;
}

.footer h2(
color: #d6d599;
}



.footer p {}
color: #f5f5f5;
}

@media screen and(max-whidth:800px){
  img{
    width:70%;
    margin: auto;

